@font-face {
  font-family: 字体图标;
  src: url(../others/mi-iconfont.ttf);
}

.icon {
  font-family: 字体图标;
}

.icon-shopcar::before {
  content: "\E60C";
}

.icon-search::before {
  content: "\E616";
}

.icon-right::before {
  content: "\E623";
}

.icon-time::before {
  content: "\E63D"
}
